body {
  margin: 0px;
  background-color: #fefdd7;
}
#header {
  position: relative;
  height: 140px;
  background-repeat: no-repeat;
  width: 416px;
}
#head_T {
  border-width: 1px;
  position: absolute;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  top: 7px;
  left: 0px;
  margin-left: 50px;
  margin-top: 155px;
  line-height: 1.5em;
}
#tableau {
  border: 2px solid #6495ed;
  position: relative;
  border-collapse: collapse;
  background-color: #cee3ff;
  margin-left: 19px;
  margin-top: 90px;
}
#footer {
  font-size: 12px;
  font-family: "Times New Roman",serif;
  text-align: center;
}
input {
  border: 1px solid #000099;
  font-family: "trebuchet ms",sans-serif;
  color: #212121;
  background-color: #c8cfdc;
}
input:focus {
  color: #1c3939;
  background-color: #dfdef7;
}
a {
  text-decoration: none;
  display: block;
  color: #000099;
}
a:hover {
  text-decoration: underline;
  color: #b54800;
}
.texte {
  font-size: 14px;
  font-family: "Times New Roman",serif;
  text-align: left;
}